#nav {
    height:50px;
    width:900px;
    background-color: pink;
    border:3px solid lightseagreen;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-content: center; 
     
}

div {
    height:50px;
    width:80px;
    border-radius:10px;
    font-size: 24px;
    margin-left:5px;
    line-height: 40px;
}

